org.nadavy.streamdock.StreamDockVjoy.sdPlugin/plugin/node_modules/**
org.nadavy.streamdock.StreamDockVjoy.sdPlugin/plugin/log/
org.nadavy.streamdock.StreamDockVjoy.sdPlugin/plugin/build/
org.nadavy.streamdock.StreamDockVjoy.sdPlugin/plugin/data/
org.nadavy.streamdock.StreamDockVjoy.sdPlugin/VJoyCpp/SDK
org.nadavy.streamdock.StreamDockVjoy.sdPlugin/VJoyCpp/vJoyInterface.dll
org.nadavy.streamdock.StreamDockVjoy.sdPlugin/VJoyCpp/*.exe
org.nadavy.streamdock.StreamDockVjoy.sdPlugin/VJoyCpp/*.obj
org.nadavy.streamdock.StreamDockVjoy.sdPlugin/plugin/vJoyInterface.dll
